useDynLib(movementAnalysis)
importFrom(maptools, checkPolygonsHoles)
importFrom(lmomco, pdfrice, cdfrice, quarice, LaguerreHalf)
import(raster)
import(move)
exportPattern("^[^\\.]")
exportClasses(
	MoveBB,
	MoveBBStack,
	UD,
	UDStack
)

